<footer class="footer" id="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-wrapper--left">
                <div class="footer-wrapper--left-checkbox">
                    <input type="checkbox" class="checkbox" id="checkbox-1">
                    <label for="checkbox-1">Вернутьcя в мир без Digital</label>
                </div>
            </div>
            <div class="footer-wrapper--right">
                <ul>
                    <li><a href="#container-2" class="toAnchor">О нас</a></li>
                    <li><a href="#container-3" class="toAnchor">Услуги</a></li>
                    <li><a href="#container-4" class="toAnchor">Клиенты</a></li>
                    <li><a href="#container-5" class="toAnchor">Контакты</a></li>
                </ul>
            </div>
            <div class="footer-wrapper--scroll">
                <a href="#header" class="toAnchor"><i class="icon-page-up-footer"></i></a>
            </div>
        </div>
    </div>
</footer>