<header class="header" id="header">
    <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum laborum nemo odio quas recusandae reiciendis. Distinctio ipsum iure iusto molestiae mollitia, necessitatibus, neque omnis quae quia, quo ratione ullam voluptates?
        <svg class="icon icon-close red_mod">
            <use xlink:href="img/sprite.svg#close"></use>
        </svg>
        <svg class="icon icon-facebook red_mod">
            <use xlink:href="img/sprite.svg#facebook"></use>
        </svg>
    </div>
</header>