<section class="index-page">
    <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aperiam aspernatur aut corporis cupiditate dicta eius error esse excepturi illo ipsa minus possimus, quae, quibusdam quo reiciendis rerum temporibus.
    </div>
</section>