@import 'bourbon';

@font-face {
  font-family: "PhenomenaBold";
  src: url("../fonts/PhenomenaBold/PhenomenaBold.eot");
  src: url("../fonts/PhenomenaBold/PhenomenaBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PhenomenaBold/PhenomenaBold.woff") format("woff"),
  url("../fonts/PhenomenaBold/PhenomenaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AeroMaticsBoldItalic"; */
@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
  url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AeroMaticsItalic"; */
@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
  url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}