.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-close {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-facebook {
  font-size:(36/10)*1rem;
  width:(36/36)*1em;
}
.icon-logo {
  font-size:(90/10)*1rem;
  width:(90/90)*1em;
}
.icon-repeat {
  font-size:(17/10)*1rem;
  width:(16/17)*1em;
}
