@import "normalize";
@import 'mq';
@import 'fonts';
@import 'sprite';

$mq-breakpoints: (
        mobile: 320px,
        tablet: 768px,
        desktop: 992px,
        wide: 1200px
);


html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

@mixin media {
  padding: 0 1.5rem;
  margin: 0 auto;
  @include mq($from: mobile) {
    width: 54rem;
  }
  @include mq($from: tablet) {
    width: 70rem;
  }
  @include mq($from: desktop) {
    width: 92rem;
  }
  @include mq($from: wide) {
    width: 115rem;
  }
}

@import 'libs';
