<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Title</title>
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/png" href="img/favicon.png" />
        <script src="js/font-loader.js"></script>
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
        {{> header}}

        {{> footer}}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/libs.min.js"></script>
        <script src="js/common.js"></script>
        <script>
            $(document).ready(function () {
                svg4everybody({});
            });
        </script>
    </body>
</html>
